<div class="is-flex is-justify-content-space-between is-align-items-center">
  <h1 class="title is-4 is-marginless"><%= controller_name.titleize %></h1>
  <%= link_to "New Tag", new_admin_tag_path, class: 'button is-info' %>
</div>

<hr class="navbar-divider my-4">

<div class="is-flex">
  <%= button_to t('admin.export_to_excel'), generate_excel_admin_tags_path(formal: :xlsx), class: 'button' %>
</div>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Text Color</th>
      <th>Background Color</th>
      <th>Created At</th>

      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <th class="has-text-weight-normal"><%= tag.id %></th>
        <th class="has-text-weight-normal"><%= tag.name %></th>
        <th class="has-text-weight-normal"><%= tag.text_color_hex %></th>
        <th class="has-text-weight-normal" style="color: <%= tag.bg_color_hex %>"><%= tag.bg_color_hex %></th>
        <th class="has-text-weight-normal"><%= tag.created_at %></th>

        <th class="has-text-weight-normal">Edit</th>
        <th class="has-text-weight-normal">
          <%= link_to "Delete", admin_tag_path(tag.slug), method: :delete, data: { confirm: 'Are you sure?' }, class: 'has-text-danger-dark' %>
        </th>
      </tr>
    <% end %>
  </tbody>
<table>
