<div class="column is-9">
  <h3 class="title is-5 has-text-grey">Latest Discussions</h3>

  <% posts.each do |post| %>
	  <article class="box content">

      <%= link_to post_path(post.slug) do %>
        <h4 class="title is-5"> <%= post.title %> </h4>
      <% end %>

	   	<div class="media">
	   		<div class="media-left">
	   			<p class="image is-32x32">
	   				<img src="http://bulma.io/images/placeholders/128x128.png">
	   			</p>
	   		</div>
	   		<div class="media-content">
	   			<div class="content">
            <p>
              <%= link_to post.author_name, user_path(post.author_username), class: 'mr-2' %>
               posted <%= time_ago_in_words(post.created_at) %>
            </p>

            <p>
              <% post.tags.each do |tag| %>
                <%= link_to tag.name, tag_path(tag.slug), class: 'tag' %>
              <% end %>
            </p>

            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <p>
                    <%= link_to post_path(post.slug, anchor: 'comments'), class: 'has-text-grey-dark' do %>
                      <i class="fa fa-comments mr-1"></i>
                      <% if post.replies.any? %>
                        <span>
                          <%= pluralize(post.replies_count, 'comment') %>
                        </span>
                      <% else %>
                        <span>
                          Add comments
                        </span>
                      <% end %>
                    <% end %>
                  </p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <%= pluralize(post.reading_time, 'minute') %> read
                </div>
                <div class="level-item">
                  <button class="button is-light">Save</button>
                </div>
              </div>
            </nav>

	   			</div>
	   		</div>

	   		<div class="media-right">
          <% if policy(post).update? %>
            <%= link_to 'Edit', edit_post_path(post.slug), class: 'button' %>
          <% end %>

          <% if policy(post).destroy? %>
            <%= link_to 'Delete', delete_confirm_post_url(post.slug), class: 'button' %>
          <% end %>
	   		</div>
	   	</div>
	  </article>
  <% end %>

  <%# render pagination for home posts %>
  <%== render 'pagy/post-nav', pagy: @pagy if @pagy.pages > 1 %>

</div>
