<div class="columns">
  <div class="column is-8">
    <h1 class="title is-2 has-text-grey discussion-title"><%= @post.title %></h1>
    <h3 class="subtitle is-5 has-text-grey-lighter">by <%= @post.author_username %> in <%= time_ago_in_words(@post.created_at) %> </h3>
    <div class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
           <% if policy(@post).update? %>
            <%= link_to 'Edit Discussion', edit_post_path(@post.slug), class:'button'%>
          <% end %>

          <% if policy(@post).destroy? %>
            <%= link_to 'Delete', post_path(@post.slug), method: :delete, data: { confirm: "Delete discussion?" }, class:'button' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="content">
      <%= markdown(@post.body) %>
    </div>

    <h2 class="subtitle is-5 has-text-grey"><%= @post.replies.all.count %> Replies</h2>

    <hr />

    <h3 class="subtitle is-3 has-text-grey">Leave a reply</h3>

    <% if user_signed_in? %>
      <%= render 'replies/form', post: @post %>
    <% else %>
      <p>To reply you need to <%= link_to 'login', new_user_session_path %>. Don't have an account?
      <%= link_to 'Sign up', new_user_registration_path %> for one.</p>
    <% end %>

  </div>

</div>