<div class="columns">
  <div class="column is-9">
    <h1 class="title is-2 has-text-grey"><%= @post.title %></h1>
    <h3 class="subtitle is-5 has-text-grey-lighter">by <%= @post.author_name %> in <%= time_ago_in_words(@post.created_at) %> </h3>
    <div class="level">
      <div class="level-left">
        <p>
          <% @post.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag.slug), style: "color: #{tag.text_color_hex}; background-color: #{tag.bg_color_hex}", class: 'tag' %>
          <% end %>
        </p>
      </div>
      <div class="level-right">
        <div class="buttons">
           <% if policy(@post).update? %>
            <%= link_to 'Edit Discussion', edit_post_path(@post.slug), class: 'button'%>
          <% end %>

          <% if policy(@post).destroy? %>
            <%= link_to 'Delete', delete_confirm_post_path(@post.slug), class: 'button' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="content">
      <%= markdown(@post.body) %>
    </div>

    <h2 class="subtitle is-5 has-text-grey"><%= @post.replies_count %> Replies</h2>

    <hr />

    <div id="comments">
      <h3 class="subtitle is-3 has-text-grey">Discuss</h3>

      <% if user_signed_in? %>
        <%# <%= render 'replies/form', post: @post %> %>
      <% else %>
        <p class="mb-5">To reply you need to <%= link_to 'login', new_user_session_path %>. Don't have an account?
        <%= link_to 'Sign up', new_user_registration_path %> for one.</p>
      <% end %>

      <%= render 'replies', replies: @post.replies %>
    </div>

  </div>

  <div class="column is-3">
   <h1><%= @post.author_name %></h1>
  </div>

</div>
