  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h1 class="title is-4 is-marginless"><%= controller_name.titleize %></h1>
    <button class="button is-info">New Reply</button>
  </div>
  <hr >

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>ID</th>
        <th>Reply</th>
        <th>Post ID</th>
        <th>Author</th>
        <th>Created at</th>
      </tr>
    </thead>

    <tbody>
      <% @replies.each do |reply| %>
        <tr>
          <th class="has-text-weight-normal"><%= reply.id %></th>
          <th class="has-text-weight-normal"><%= reply.reply %></th>
          <th class="has-text-weight-normal"><%= reply.post_id %></th>
          <th class="has-text-weight-normal"><%= reply.user_username %></th>
          <th class="has-text-weight-normal"><%= reply.created_at %></th>

          <th class="has-text-weight-normal">Edit</th>
          <th class="has-text-weight-normal">Delete</th>
        </tr>
      <% end %>
    </tbody>
  <table>
