<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Discussion Admin - <%= controller_name.titleize %></title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="has-background-white-bis" style="min-height: 100vh;">

  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-2 mt-4">
          <aside class="menu is-hidden-mobile">

          <%= link_to "Back to app", root_path, class: 'button is-info is-outlined mb-4' %>
            <ul class="menu-list">
              <% Admin::BaseController::MENU_ITEMS.each do |menu_item| %>
                <li class="mb-2">
                  <a href="/admin/<%= menu_item[:controller] %>">
                    <%= menu_item[:name].titleize %>
                  </a>
                </li>
              <% end %>
            </ul>
          </aside>
        </div>

        <div class="column is-10 box pt-4 px-5">
          <% if flash[:notice] %>
            <div class="notification is-success is-light has-text-centered ">
            <button class="delete" onclick="this.parentElement.style.display = 'none'" ></button>
            <p><%= notice %></p>
            </div>
          <% end %>

          <%= yield %>
        </div>

      </div>
    </div>
  </div>

</body>

</html>
